html
head
	title Cipher
	meta(charset="utf-8")
	link(rel='stylesheet', href='css/style.css')
	script(src='js/main.js')
body
	div#container
		form(onsubmit="return false")
			textarea(type="text" name="cipherInput" id="cipherInput" placeholder="Text to encrypt/decrypt")
			<br />
			input(type="submit" value="Encrypt" onclick="Main.Encrypt()")
			input(type="submit" value="Decrypt" onclick="Main.Decrypt()")
			<br />
			p#result 